$primary-color: #3498db;
$header-bg-color:#f8f9fa;
$primary-txt-color: #333;
$header-height: 60px;
$header-menu-hover-color: #adb5bd;
$contents-list-link-color: #1e90ff;

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../assets/fonts/NotoSansKR-Regular.ttf') format('truetype'),
       url('../assets/fonts/NotoSansKR-Medium.ttf') format('truetype'),
       url('../assets/fonts/NotoSansKR-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: url('../assets/fonts/NotoSerifKR-Regular.ttf') format('truetype'),
       url('../assets/fonts/NotoSerifKR-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Noto Sans KR', sans-serif, 'Noto Serif KR';
  color: $primary-txt-color;
}

body {
  margin: 0 auto;    /* 좌우 여백을 자동으로 설정 */
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column; /* 세로 방향으로 요소들을 배치 */
  min-height: calc(100vh - #{$header-height} - 20px); /* 페이지가 최소한 화면 크기만큼 높이를 차지하도록 설정 */
}

.content {
  flex: 1; /* 콘텐츠가 화면의 가용 공간을 모두 차지하도록 설정 */
  overflow: auto; /* 내용이 길어지면 스크롤이 가능하도록 설정 */

  .title {
    font-size: 1.8rem;
  }
}

section {
  display: flex;             /* flexbox로 배치 */
  justify-content: space-between; /* 두 div 사이에 공간을 고르게 배치 */
}

.section-content {
  width: 100%;
  display: flex;             /* Flexbox 사용 */
  justify-content: center;   /* 가로 중앙 정렬 */
  align-items: center;       /* 세로 중앙 정렬 */
}

.section-resize {
  cursor: ew-resize;
  background-color: $primary-txt-color;
  opacity: 0;
  height: 100%;
  transition: all 1s ease-in, all 0.4s ease-in;
}

.section-resize.open {
  opacity: 1;
}

.section-resize.close {
  opacity: 0;
}

.left-div {
  padding: 20px;
  user-select: none;
}

.right-div {
  background-color: $header-bg-color;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
  user-select: none;
}

.right-div.open {
  opacity: 1;
}

.right-div.close {
  opacity: 0;
}

.about-container {
  width: 100%;
  padding: 40px;

  display: flex;
  gap: 50px;
}

.about-content li {
  margin-bottom: 10px;

  a {
    cursor: pointer;
    color: #1e90ff
  }
}

.about-my-pic {
  text-align: center;
}

.about-profile-pic {
  margin-top: 10px;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
}

.about-my-name {
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  margin-top: 10px;
}

.about-my-message {
  font-style: italic;
  text-align: center;
}

.about-my-history {
  margin-top: 40px;
}

.dev-container {
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 30px;
}

.dev-content {
  margin-top: 90px;
}

.dev-content-list-outer {
  margin-top: 40px;
}

ul.dev-content-list {
  padding: 0px;
  margin-left: 10px;
}

ul.dev-content-list li {
  margin-bottom: 10px;
  list-style-type: none; /* 기본 목록 머리 제거 */
  position: relative;
  padding-left: 30px; /* 이미지 공간 확보 */
  height: 60px;
  cursor: pointer;

  div.content-list-outer {

    height: 60px;
    min-width: 200px;
    max-width: 450px;
    text-align: center;
    display: flex;             /* Flexbox 사용 */
    // justify-content: center;   /* 가로 중앙 정렬 */
    align-items: center;       /* 세로 중앙 정렬 */
    padding-left: 10px;
    padding-right: 10px;

    div.content-list-inner {
      white-space: nowrap;     /* 텍스트를 한 줄로 유지 */
      overflow: hidden;        /* 넘치는 부분 숨김 */
      text-overflow: ellipsis; /* 말줄임표 설정 */      
      font-size: 1.2em;
    }

  }
}

ul.dev-content-list li::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 37%;
  width: 16px; /* 이미지 너비 */
  height: 16px; /* 이미지 높이 */
  background-image: url('../public/images/icon/file_shape_16.png');
  background-size: cover; /* 이미지 크기 조정 */
  background-repeat: no-repeat;
}

ul.dev-content-list li:hover {
  background-color: $header-bg-color;
  font-weight: bold;
}

.dev-pic-outer {
  text-align: center;
}

.dev-pic {
  margin-top: 10px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}


.div-pic-small-outer {
  display: flex; /* Flexbox를 사용하여 요소를 나란히 배치 */
  align-items: center; /* 수직으로 가운데 정렬 */

  @media (max-width: 768px) {
    /* 태블릿 이하 화면 크기 */
    display: none;
  }
}

.dev-pic-small {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.dev-small-name-desk {
  width: 100%;
  padding-left: 40px;
}

.dev-name {
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 5px;
  font-style: italic;
}

.dev-name-small {
  font-weight: bold;
  font-size: 1.3em;
  font-style: italic;
}

.dev-desk {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.dev-desk-small {
  font-weight: bold;
}

.dev-message-outer {
  width: 100%;
  text-align: center;
  display: flex;             /* Flexbox 사용 */
  justify-content: center;   /* 가로 중앙 정렬 */
  align-items: center;       /* 세로 중앙 정렬 */
}

.dev-message {
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  width: 80%;
}
.dev-message-author {
  font-style: italic;
  text-align: right;
  font-size: 0.9em;
  width: 80%;
  margin-top: 5px;
}

.home-label-outer {
  width: 100%;
  height: 60px;
  text-align: center;
  display: flex;             /* Flexbox 사용 */
  justify-content: center;   /* 가로 중앙 정렬 */
  align-items: center;       /* 세로 중앙 정렬 */
}

.home-label {
  width: 80%;
  text-align: center;
}

  .home-container-outer {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    min-height: calc(100vh - #{$header-height} - 60px); 
  }

  .home-container {
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    // gap: 10px; /* div 간의 간격 */
  }

  .home-sentence-outer {
    width: 100%;
    text-align: center;
    display: flex;             /* Flexbox 사용 */
    justify-content: center;   /* 가로 중앙 정렬 */
    align-items: center;       /* 세로 중앙 정렬 */
  }

  .home-sentence {
    width: 60%;
    text-align: center;
    font-family: 'Noto Serif KR';
    font-weight: bold;
    font-size: 1.8em;
    color: black;
    line-height: 50px;
    opacity: 0;                  /* 초기 투명도 설정 */
    animation: sentenceFadeIn 2.7s ease-in forwards; /* 애니메이션 설정 */
    animation-delay: 0.5s;

  }

  @keyframes sentenceFadeIn {
    from {
      opacity: 0;               /* 시작 상태: 완전히 투명 */
    }
    to {
      opacity: 1;               /* 끝 상태: 완전히 불투명 */
    }
  }

  .home-author-outer {
    width: 100%;
    text-align: center;
    display: flex;             /* Flexbox 사용 */
    justify-content: center;   /* 가로 중앙 정렬 */
    align-items: center;       /* 세로 중앙 정렬 */
  }

  .home-author {
    width: 60%;
    text-align: right;
    font-family: 'Noto Serif KR';
    font-size: 1.2em;
    font-style: italic;
    color: black;
    line-height: 50px;
    margin-left: 20px;

    opacity: 0; /* 시작 시 투명 */
    transform: translateX(-50px); /* 왼쪽으로 이동 */
    animation: fadeInRight 2.5s ease-out forwards; /* 애니메이션 적용 */
    animation-delay: 0.5s;
  }

  /* 애니메이션 정의 */
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


  




//   .home-author {
//     width: 100%;
//     text-align: right;
//     font-weight: normal;
//     font-size: 0.9em;
//     font-style: italic;
//     margin-left: 20px;
//     margin-top: 20px;

//     opacity: 0; /* 시작 시 투명 */
//     transform: translateX(-50px); /* 왼쪽으로 이동 */
//     animation: fadeInRight 2.0s ease-out forwards; /* 애니메이션 적용 */
//   }

// /* 애니메이션 정의 */
// @keyframes fadeInRight {
//   0% {
//     opacity: 0;
//     transform: translateX(-50px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }
// }

// .container {
//   text-align: center;

//   .title {
//     color: $primary-color;
//     font-size: 2rem;
//   }

//   .button {
//     background-color: $primary-color;
//     color: white;
//     border: none;
//     padding: 10px 20px;
//     border-radius: 5px;
//     cursor: pointer;

//     &:hover {
//       background-color: darken($color: $primary-color, $amount: 10%);
//     }
//   }
// }

header {
  text-align: center;
  position: fixed;
  z-Index: 1000;
  top: 0;
  left: 0;
  height: $header-height;
  width: 100%;
  transition: background 0.3s ease, color 0.3s ease;
  padding: 20px 20px 20px 20px;
  background-color: $header-bg-color;

  nav {
    .nav-container {
      display: flex; // Flexbox 활성화
      justify-content: center; // 가로 중앙 정렬
      align-items: center; // 세로 중앙 정렬
      height: 60px; // Nav 높이
    }
    
    .nav-menu {
      position: absolute;
      padding: 10px 20px;
      border-radius: 5px;

      ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 28px; /* 메뉴 간 간격 */
        justify-content: center; /* 가로 중앙 정렬 */
      }
      
      ul li {
        margin: 0;
      }
      
      ul a {
        color: $primary-txt-color;
        text-decoration: none;
        font-size: 1.2em;
        padding: 5px 10px;
        cursor: pointer;
      }
      
      ul a:hover {
        border-radius: 5px;
        color: $header-menu-hover-color;
      }
      
      /* 반응형 - 작은 화면에서 세로 메뉴 */
      @media (max-width: 768px) {
        
        ul {
          flex-direction: column; /* 세로 정렬 */
          align-items: center; /* 메뉴를 가운데 정렬 */
        }
      
        ul li {
          margin-bottom: 0px;
        }

        .nav-container {
          height: 500px; // Nav 높이
        }
      }
    }

    .nav-cursor {
      cursor: pointer;
    }

    .nav-bold {
      font-weight: bold;
      
    }

    .nav-profile {
      width: 100%;
      text-align: left;

      .nav-profile-container {
        display: flex; // Flexbox 활성화
        align-items: center; // 세로 중앙 정렬
        gap: 10px; // 이미지와 텍스트 간격 설정
        padding: 10px;
        border-radius: 5px;

        img {
          width: 52px;
          height: 52px;
          border-radius: 50%;
          object-fit: cover;
        }

        h3 {
          color: $primary-txt-color;
          margin-left: 10px;
          padding-bottom: 4px;
        }
      }
    }

    /* 반응형 - 작은 화면에서 세로 메뉴 */
    @media (max-width: 768px) {
      .nav-profile {
        display: none;
      }
    }
  }
}

footer {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: $header-bg-color;
  color: $primary-txt-color;
  font-size: 0.8em;
  

  .footer-container {
    display: grid;
    place-items: center; /* 세로와 가로 중앙 정렬 */
    height: 100%;
  }
}

.home-link {
  color: $primary-txt-color;
  text-decoration: none;
  cursor: pointer;
}

.home-link:hover {
  color: #555;
}

.article-container {
  width: 100%;
  display: flex;
}

.article-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.article-view {
  width: 100%;

  .article-view-title-outer {
    height: 80px;
  }

  .article-view-title-inner {
    display: flex; /* Flexbox를 사용하여 요소를 나란히 배치 */
    align-items: center; /* 수직으로 가운데 정렬 */
    // padding: 0px;
    // width: 100%; /* 너비 지정 */

    .article-view-icon {
      padding-top: 3px;
    }
    .article-view-title {
      padding-left: 20px;
      padding-right: 20px;
      font-weight: bold;
      flex-grow: 1; /* 타이틀이 가로 공간을 차지하게 함 */
      font-size: 1.8rem;
      
      white-space: nowrap;     /* 텍스트를 한 줄로 유지 */
      overflow: hidden;        /* 넘치는 부분 숨김 */
      text-overflow: ellipsis; /* 말줄임표 설정 */      
    }
  }

  .article-view-contents {
    width: 100%;
    margin-top: 30px;
  }
  

  .article-view-cover-outer {    
    margin-top: 60px;
    text-align: center;

    img {
      width: 240px;
    }
  }

  .article-view-contents-outer {
    margin-top: 50px;
  }
}